.displaytable {
	width: 400px;
	height: 300px
	color: #000000;
	border:5px solid black;
	background-color: #D3D3D3;

}
.cols {
	width:150px;
	height: 300px;
	float: right;
	border:1px solid black;
	color: #000000;
	background-color: #D3D3D3;
}